.breadcrumbs__list {
  display: flex;
  margin: 0;
  padding: 0;
  .breadcrumbs__item:last-child {
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
    }
  }
}
.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    margin: 0 3px 0 4px;
    content: '/';

    @include font-size(12);
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.breadcrumbs__link {
  color: #403549;

  @include font-size(12);
  &:hover {
    text-decoration: none;
  }
}
