.invitation-section {
  position: relative;
}
.invitation-section__header {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding: 300px 0 80px 0;
  text-align: center;

  @include m920() {
    padding-top: 250px;
  }
  @include m800() {
    padding-bottom: 40px;
  }
  @include m768() {
    padding-top: 200px;
  }
  @include m600() {
    padding-top: 130px;
  }
  @include m425() {
    padding-top: 90px;
  }
}
.invitation-section__title {
  font-family: $font-thin;
  font-size: 35px;
  margin-bottom: 30px;
  color: #1d1d1d;

  @include m768() {
    font-size: 30px;
  }
}
.invitation-section__subtitle {
  font-family: $font-medium;
  font-size: 20px;
  margin-bottom: 20px;
  color: #1d1d1d;
}
.invitation-section__list {
  display: flex;

  flex-wrap: wrap;
  @include m600() {
    justify-content: center;
  }
}
.invitation-section__item {
  font-family: $font-light;
  font-size: 18px;
  position: relative;
  width: 33.3%;
  margin-bottom: 70px;
  padding-right: 20px;
  padding-left: 60px;

  @include m800() {
    width: 50%;
    margin-bottom: 40px;
  }
  @include m600() {
    width: 100%;
    max-width: 350px;
  }
  @include m425() {
    font-size: 16px;
    margin-bottom: 30px;
    padding-right: 0;
  }
  &::before {
    position: absolute;
    top: -5px;
    left: 0;
    width: 32px;
    height: 30px;
    content: '';
    background-image: url('../img/invitation.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
