.news-section {
  background-color: $highlight;
  .container {
    padding-bottom: 280px;

    @include m920() {
      padding-bottom: 220px;
    }
    @include m768() {
      padding-bottom: 170px;
    }
    @include m600() {
      padding-bottom: 120px;
    }
    @include m425() {
      padding-bottom: 90px;
    }
  }
}
.news-section__header {
  padding: 80px 0;
  text-align: center;
}
.news-section__title {
  font-family: $font-thin;
  font-size: 35px;
  color: #fff;
}

.news-section__list {
  display: flex;
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;

  @include m600() {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.news-section__left,
.news-section__right {
  width: 50%;

  @include m600() {
    width: 100%;
    max-width: 425px;
  }
}
.news-section__item {
  font-family: $font-light;
  font-size: 18px;
  position: relative;
  margin-bottom: 45px;
  padding-left: 60px;
  color: #fff;
  &::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 38px;
    height: 38px;
    content: '';
    background-image: url('../img/news-sprite.png');
    background-repeat: no-repeat;
  }
}
.news-section__item--one::before {
  background-position: 0 0;
}
.news-section__item--two::before {
  background-position: 0 -67px;
}
.news-section__item--three::before {
  background-position: 0 -137px;
}
.news-section__item--four::before {
  background-position: 0 -203px;
}
.news-section__item--five::before {
  background-position: 0 -273px;
}
.news-section__item--six::before {
  background-position: -500px 0;
}
.news-section__item--seven::before {
  background-position: -500px -67px;
}
.news-section__item--eight::before {
  background-position: -500px -137px;
}
.news-section__item--nine::before {
  background-position: -501px -203px;
}
.news-section__item--ten::before {
  background-position: -500px -273px;
}

.news-section__video {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: translateY(45%);

  @include m920() {
    width: 750px;
  }
  @include m768() {
    width: 580px;
  }
  @include m600() {
    width: 400px;
  }
  @include m425() {
    width: 310px;
  }
  iframe {
    position: relative;
    display: block;
    width: 100%;
    max-width: 710px;
    height: 400px;
    margin: 30px auto 0;

    @include m920() {
      max-width: 600px;
      height: 330px;
    }
    @include m768() {
      max-width: 450px;
      height: 260px;
      margin-top: 15px;
    }
    @include m600() {
      max-width: 320px;
      height: 180px;
    }
    @include m425() {
      max-width: 250px;
      height: 150px;
      margin-top: 5px;
    }
  }
}
.news-section__video-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 910px;
  margin: auto;
}
