.speaker-section {
  background-image: url('../img/bg-speaker-section.jpg');
  background-repeat: no-repeat;
  background-position: 45% 0;
  background-size: cover;

  @include m1024() {
    background-position: 35% 0;
  }
  @include m920() {
    background-color: #000;
    background-image: none;
  }
  .container {
    display: flex;
    min-height: 800px;

    justify-content: flex-end;
    align-items: center;
    @include m920() {
      min-height: 0;

      justify-content: center;
    }
  }
}
.speaker-section__inn {
  width: 55%;

  @include m920() {
    width: 100%;
    max-width: 550px;
  }
}
.speaker__title {
  font-family: $font-thin;
  font-size: 35px;
  margin-bottom: 60px;
  color: #fff;

  @include m920() {
    margin-bottom: 40px;
    text-align: center;
  }
  @include m425() {
    margin-bottom: 20px;
  }
}
.speaker__list {
  margin: 0;
  padding: 0;
}
.speaker__item {
  font-family: $font-light;
  font-size: 18px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 45px;
  list-style: none;
  color: #fff;

  @include m425() {
    font-size: 16px;
    margin-bottom: 10px;
  }
  &::before {
    position: absolute;
    top: 13px;
    left: 0;
    width: 25px;
    height: 1px;
    content: '';
    background-color: #fff;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.speaker__banner {
  margin-bottom: 60px;

  @include m920() {
    margin-bottom: 40px;
  }
  @include m425() {
    margin-bottom: 20px;
  }
  img {
    width: 100%;
  }
}
.speaker__text {
  font-family: $font-medium;
  color: #fff;

  @include m920() {
    text-align: center;
  }
}
.speaker__red-text {
  color: $highlight;
}
.speaker__cross-text {
  font-family: $font-light;
  font-size: 18px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
  &::before {
    position: absolute;
    top: 55%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: $highlight;
  }
}
.speaker-footer {
  display: flex;

  align-items: center;
  @include m920() {
    justify-content: center;
    margin-bottom: 20px;
  }
  @include m600() {
    flex-direction: column-reverse;
  }
}
.speaker-counter {
  font-family: $font-thin;
  font-size: 50px;
  padding: 0 30px;
  color: #fff;

  @include m600() {
    margin-bottom: 20px;
  }
}
