//begin footer
footer.footer
  .container
    .footer__left
      .footer__social
        a(href="https://vk.com/topexpert" target="_blank" rel="nofollow noopener noreferrer").footer__social-item.vk
        a(href="https://t.me/topexpertpro" target="_blank" rel="nofollow noopener noreferrer").footer__social-item.telegram
        a(href="https://www.youtube.com/user/grohovskiy?sub_confirmation=1" target="_blank" rel="nofollow noopener noreferrer").footer__social-item.youtube
        a(href="https://www.facebook.com/top.expert.education/" target="_blank" rel="nofollow noopener noreferrer").footer__social-item.fb
        
      .footer__contacts
        a(href="mail:mail@topexpert.pro").footer__contacts-item.email mail@topexpert.pro
        a(href="tel:+74952306278").footer__contacts-item.phone +7 (495) 230-62-78


    .footer__right
      a(href="javascript:;").footer__right-politic.trigger Политика конфиденциальности
//end   footer