//begin invitation-section
section.invitation-section
  .container
    .invitation-section__header
      h2.invitation-section__title Приглашаем директоров по маркетингу и владельцев бизнеса
      h3.invitation-section__subtitle Из записи вы узнаете:

    .invitation-section__list
      .invitation-section__item 
        |Что такое "SEO Marketing"
      .invitation-section__item 
        |Как SEO повышает конверсию
      .invitation-section__item 
        |Как получить дешевый 
        br
        |SEO-трафик
      .invitation-section__item 
        |Почему посетители больше
        br
        |доверяют SEO, чем Директу
      .invitation-section__item 
        |Как устроены алгоритмы и
        br
        |факторы поисковых систем
      .invitation-section__item 
        |Актуальные технологии
        br
        |продвижения сайтов

//end   invitation-section