//begin news-section
section.news-section
  .container
    .news-section__header
      h2.news-section__title Вы узнаете много новых полезных фишек:

    .news-section__list
      .news-section__left
        .news-section__item.news-section__item--one Секретные фишки SEO
        .news-section__item.news-section__item--two Каких результатов можно достичь
        .news-section__item.news-section__item--three Кейс: в 5 раз за 5 месяцев
        .news-section__item.news-section__item--four Этапы работ по SEO
        .news-section__item.news-section__item--five Нужно ли вам делать SEO?
      .news-section__right
        .news-section__item.news-section__item--six Сколько стоит эффективное SEO?
        .news-section__item.news-section__item--seven Учимся делать SEO: 8 ключевых этапов
        .news-section__item.news-section__item--eight Как сделать эффективное SEO?
        .news-section__item.news-section__item--nine Сколько времени нужно, чтобы продвинуть сайт
        .news-section__item.news-section__item--ten Быстрые результаты в SEO

    .news-section__video
      iframe(src="https://www.youtube.com/embed/FBBIHe3Rrms?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
      img(src="assets/img/news-video.png", alt="Рамка для видое").news-section__video-img
//end   news-section