//begin second-section
section.second-section
  .container
    .second-section__header
      h2.second-section__title.section__title
        |С помощью SEO Marketing вы можете получать в 5 раз больше клиентов!

    .second-section__inn
      .second-section__left
        img.second-section__monitor(src="assets/img/second-section-monitor.png", alt="Монитор с графиком")

      .second-section__right
        h4.second-section__right-red Получите запись семинара + Презентацию
        h3.second-section__right-title
          |"SEO ДЛЯ БИЗНЕСА" 
          br
          |за 297 руб.,
          =" "
          span.red-cross-text вместо 5000 руб.

        .second-section__right-list-title На семинаре вы узнаете как:
        .second-section__right-list
          .second-section__right-item Увеличить количество продаж интернет-магазина на 500%
          .second-section__right-item Получить в SEO дешевый трафик в 5 раз ниже, чем из контекста
          .second-section__right-item Уделяя сайту 30 минут в день через 2 месяца удвоить заявки
        p.second-section__right-text Как увеличить продажи, трафик и конверсию вашего сайта в 3, 5, 10 раз!

        a(href="#").buy-btn Купить запись




//end   second-section