//begin speaker-section
section.speaker-section
  .container
    .speaker-section__inn
      h2.speaker__title
        |Спикер -
        br
        |Леонид Гроховский

      ul.speaker__list
        li.speaker__item Директор учебного центра ТопЭксперт
        li.speaker__item В интернет-маркетинге с 2006 года
        li.speaker__item Автор трех книг бестселлеров и более 100 публикаций
        li.speaker__item Ведущий передачи “Секреты успешного интернет-бизнеса”
        li.speaker__item Более 300 проектов, среди которых:

      .speaker__banner
        img(src="assets/img/speaker-banner.png", alt="logo projects")

      p.speaker__text
        |Успей купить
        =' '
        span.speaker__red-text запись семинара за 297 руб.,
        =' '
        span.speaker__cross-text вместо 5000 руб.

      .speaker-footer
        a(href="#").buy-btn Купить запись
        .speaker-counter 28 : 48

//end   speaker-section