//begin top-section
section.top-section
  .container
    .top-section__left
      img.top-section__book(src="assets/img/top-section-book.png", alt="Книга - SEO для бизнеса")
    .top-section__right
      .top-section__header
        h3.top-section__title Спасибо!
        p.top-section__subtitle Книга уже отправлена на ваш email.
      p.top-section__text Дайте нам 5-10 минут на ее доставку..
  .top-section__banner
    .top-section__banner-left
      p.top-section__banner-text
        |Пока вы ожидаете доставку -
        br
        |ознакомьтесь со специальным предложением, которое исчезнет через 30 минут.
    .top-section__banner-right
      span.top-section__counter 29:48

//end   top-section