// ===== local colors =====
$ralph-red: #c42e2e;
$orange: #ffa600;
$blue: #82d2e5;


$red: #c8453f;
$yellow: #ffba00;

// ===== global colors =====
$brand-color: $ralph-red;
$link-color: $blue;
$link-color-hov: $orange;
$title-color: $brand-color;

$highlight: $red;
$btn-color: $yellow;


// ===== fonts =====
$font:            'Roboto-Light', sans-serif;
$font-light:      'Roboto-Light', sans-serif;
$font-medium:     'Roboto-Medium', sans-serif;
$font-lightitalic:'Roboto-LightItalic', sans-serif;
$font-thin:       'Roboto-Thin', sans-serif;