extends ../_template

block variables
  - var title = 'Odinokun template'

block content
  .mouse-icon__wrap
    .mouse-icon
      .wheel
  
  //begin content
  section.main
    include ../sections/top-section
      
  //end   content

  include ../sections/footer