extends ../_template

block variables
  - var title = 'SEO для бизнеса'

block content
  .mouse-icon__wrap
    .mouse-icon
      .wheel
  
  //begin content
  section.main
    include ../sections/top-section
      
    include ../sections/second-section

    include ../sections/speaker-section

    include ../sections/news-section

    include ../sections/invitation-section

    include ../sections/form-section
  //end   content

  include ../sections/footer